<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		
			</compilation>
	</system.web>
</configuration>
